$primary-color: rgb(47, 201, 186);
$font-color: #333;
$background-color: #f4f4f4;
$secondary-color: black;

$turkusowy: #40e0d0;
$ciemny-turkusowy: darken($turkusowy, 16%);
$jasny-turkusowy: lighten($turkusowy, 20%);
$czarny: #333;
$bial: #fff;
